Allow single type and homogeneously typed multipart Geometry objects

The spec currently says that the value of `geometry` should be a `GeometryCollection`. This conflicts with [section 3.1.8 of RFC7946](https://tools.ietf.org/html/rfc7946#section-3.1.8) which states that

> GeometryCollections composed of a single part or a number of parts of a single type SHOULD be avoided when that single part or a single object of multipart type (MultiPoint, MultiLineString, or MultiPolygon) could be used instead.

The LPF should follow the same recommendation.


Agree that geometry needn't be GeometryCollection if there's only one -- a necessary adjustment to the spec that has been delayed.

The second point is trickier. LPF uses `GeometryCollection` to allow a single `Feature` to have multiple geometries with distinct attributes (when, citations, certainty) -- maintaining those dynamics in a single `Feature`. We took SHOULD-not-MUST to heart. It is also the case the "foreign members" are allowed in GeoJSON, if not encouraged. Abandoning the ability to temporally scope and/or source multiple geometries for a single Feature would pretty much dismantle LPF as a distinctive extension to GeoJSON. 

It is worth noting that LPF formatted FeatureCollections are valid GeoJSON, and render properly in most software that supports GeoJSON now, e.g. Leaflet, [GitHub](https://gist.github.com/kgeographer/3b2cb082c65e4afe336f81c2fef012ae), geojson.io, and will in geojsonlint.com once the no-singletons in GeometryCollection issue above is fixed. QGIS has never supported GeometryCollections.

Thanks for the prompt to fix the important "no-singletons" issue.

Sorry, I don’t think I was clear. I didn’t mean to suggest that LPF abandon `GeometryCollection`, as I realize it is necessary for scoping statements about particular geometries.

What I meant to say is that LPF should allow the value of `geometry` to be any of `GeometryCollection`, `Point`, `LineString`, `Polygon`, `MultiPoint`, `MultiLineString`, or `MultiPolygon`, with the proviso that `GeometryCollection` MUST be used if there are multiple geometries with different provenance or temporal scope per feature.

This would lower the bar for turning simpler gazetteers—which don’t have multiple geometries with different provenance or temporal scope per feature, but still might have features with multipart geometries—into valid LPF.

Maybe that’s what you’re saying above; I wasn’t sure what you meant by “the second point.”






I misunderstood. Of course if a Feature has multiple geometries without different temporal or certainty properties, a "single object of multipart type (MultiPoint, MultiLineString, or MultiPolygon) could be used." 

The spec change to requiring single geometries to *not* be enclosed in GeometryCollections will be made soon -- WHGazetteer software needs to be updated to reflect that first. It's been on the TODO list for a while.

thanks